* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: url("../img//cursor-red.png") 16 16, auto;
  /* background-color: black */
}

.newuser {
  position: absolute;
  right: 2%;
  top: 0;

}

@keyframes rotatez {


  0% {
    transform: rotateZ(0deg)
  }

  100% {
    transform: rotateZ(360deg)
  }
}

@keyframes rotatex {

  0% {
    transform: rotatex(0deg)
  }

  100% {
    transform: rotatex(360deg)
  }
}

@keyframes rotatey {

  0% {
    transform: rotatey(0deg)
  }

  100% {
    transform: rotatey(360deg)
  }
}


/* .img_box {
  position: absolute;
  background-size: 100% 100%;
  opacity: 0.5;
  z-index: 3;
  width: 100px;
  height: 100px;
  background-image: url("../img/newuser.jpg");
  z-index: 3;
  opacity: 0.5;
  background-color: blue;
  background-image: image('../img/jpg.jpg')
}  */

.newuser a {
  color: white;
  font-size: 12px;
  line-height: 40px;
  text-decoration: none;
}

.wrap_main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* filter: blur(1px); */

}

.wrap_main::before {
  content: "";
  position: absolute;
  width: 102%;
  height: 102%;
  background-image: url("../img/yinhua.jpg");
  background-size: 100% 100%;
  /* -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px); */
  filter: blur(0px);
  z-index: -1;
  /* 重要 */
  /* left: 0;
  right: 0;
  bottom: 0;
  top: 0; */
  overflow: hidden;
}

.login_panel {
  height: 280px;
  width: 460px;
  background-color: rgba(54, 59, 58, 0.55);
  /* box-shadow: 0px 20px 45px 20px #b79faa; */
  /* top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;  */
  position: relative;
  z-index: 2;
}

.login_panel {
  text-align: center;

}

.login_panel h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
  padding: 15px 0;
  color: whitesmoke;
  text-shadow: 6px 5px 8px black;


}

.login_panel div {
  height: 30px;
  width: 300px;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 20px;
}

.login_panel input {

  width: 90%;
  height: 100%;
  border: none;
  border-radius: 7px;
  padding: 0 10px;
  transition: all 5s;

}
.snowflake{
  width: 100px;
  height: 100px;
  z-index: 1;
  position: absolute;
  opacity: 0.7;
  background-image: url('../img/xiaoyinghua.png');
  background-size: 100% 100%;


}

.ready{
  cursor: url("../img//cursor-zi.png") 16 16, auto !important;
}

.login_panel input:hover {
  cursor: url("../img//cursor.png") 16 16, auto;
}

.login_panel input:focus {
  box-shadow: 2px 2px 10px 2px blueviolet;
  background-color: blueviolet;
  color: whitesmoke;
  opacity: 0.8;
  cursor: url("../img//cursor-red.png") 16 16, auto;

}

::-webkit-input-placeholder {
  /*Webkit browsers*/
  color: white;
  font-size: 16px;
  line-height: 30px;
}

.login_panel button {
  border: none;
  width: 35%;
  height: 30px;
  color: black;
  font-weight: bolder;
  border-radius: 3px;
  font-size: 15px;
  line-height: 15px;
  margin-top: 10px;
  transition: all 1.5s;


}

.login_panel button:hover,
.login_panel button:active {

  background-color: white;
  font-size: 15px;
  color: blueviolet;
  box-shadow: 5px 2px 10px 2px blueviolet;
  cursor: url("../img//cursor-red.png") 16 16, auto;


}